.a1{
    background-color: bisque;
    padding: 10px;
    padding-top: 10px;
}
.a2{
    padding: 10px 10px 10px 10px;
}
.a3{
    background-color: rgb(206, 218, 115);
    padding: 10px;
    padding-top: 10px;
}